{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock title %}
{% block content %}
    <div>
        <h1>{{ project.id.name }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if not project.detail %}
            <p>This project has no tasks.</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for tasks in project.tasks %}
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
